# frontend/.env.local.example
NEXT_PUBLIC_API_BASE=https://valuation.nerdlawyer.ai/compute-valuation
NEXT_PUBLIC_APP_URL=https://valuation.nerdlawyer.ai
STYTCH_PROJECT_ID=project-test-c6af397c-8c18-4624-915e-89d39579d1a9
STYTCH_SECRET=secret-test-9rDg_i6rRrnHo9-ItukAPh8h_BAWqQYITdA=
STYTCH_ENV=test
STYTCH_PROJECT_DOMAIN=https://acute-pump-2971.customers.stytch.dev